.accordion-body {
    text-align: justify;
}

.card-body {
    text-align: justify;
}

.top-botton-margin {
    margin: 10em 0 10em 0;
}

.tooltip2 {
    font-size: 1em !important;
}

h3 {
    margin-top: 3em !important;
}

.plot-container.plotly {
    overflow-y: auto;
}

p {
    text-align: justify;
}

.clickable-example {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;
}
